imdb-soap/WebContent/ImdbWebServiceService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://soap.imdb.example.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ImdbWebServiceService" targetNamespace="http://soap.imdb.example.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.imdb.example.com/" elementFormDefault="unqualified" targetNamespace="http://soap.imdb.example.com/" version="1.0">

  <xs:element name="filmTurleriniGetir" type="tns:filmTurleriniGetir"/>

  <xs:element name="filmTurleriniGetirResponse" type="tns:filmTurleriniGetirResponse"/>

  <xs:element name="filmleriBul" type="tns:filmleriBul"/>

  <xs:element name="filmleriBulResponse" type="tns:filmleriBulResponse"/>

  <xs:complexType name="filmTurleriniGetir">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="filmTurleriniGetirResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="turler" type="tns:genre"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="genre">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="filmleriBul">
    <xs:sequence>
      <xs:element name="from" type="xs:int"/>
      <xs:element name="to" type="xs:int"/>
      <xs:element name="genre" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="filmleriBulResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="filmler" type="tns:movie"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="movie">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="directors" nillable="true" type="tns:director"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="genres" nillable="true" type="tns:genre"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="imdb" type="xs:string"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element name="year" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="director">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="imdb" type="xs:string"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="filmleriBul">
    <wsdl:part element="tns:filmleriBul" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="filmleriBulResponse">
    <wsdl:part element="tns:filmleriBulResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="filmTurleriniGetir">
    <wsdl:part element="tns:filmTurleriniGetir" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="filmTurleriniGetirResponse">
    <wsdl:part element="tns:filmTurleriniGetirResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ImdbWebService">
    <wsdl:operation name="filmTurleriniGetir">
      <wsdl:input message="tns:filmTurleriniGetir" name="filmTurleriniGetir">
    </wsdl:input>
      <wsdl:output message="tns:filmTurleriniGetirResponse" name="filmTurleriniGetirResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filmleriBul">
      <wsdl:input message="tns:filmleriBul" name="filmleriBul">
    </wsdl:input>
      <wsdl:output message="tns:filmleriBulResponse" name="filmleriBulResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImdbWebServiceServiceSoapBinding" type="tns:ImdbWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="filmTurleriniGetir">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="filmTurleriniGetir">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="filmTurleriniGetirResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="filmleriBul">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="filmleriBul">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="filmleriBulResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImdbWebServiceService">
    <wsdl:port binding="tns:ImdbWebServiceServiceSoapBinding" name="ImdbWebServicePort">
      <soap:address location="http://localhost:8080/imdb-soap/ImdbWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>